<% layout('layouts/boilerplate') %>
    <div class="container vh-100 d-flex flex-column align-items-center">
        <div class="about col-lg-4 text-light text-center p-5 mt-5">
            <h3>Contact</h3>
            <p>Phone: 1234567890<br>
                Mail: xyz@gfmail.com
            </p>
        </div>
    </div>