<% layout('layouts/boilerplate') %>
    <div
        class="container-fluid p-5 vh-100 d-flex flex-column align-items-center align-items-lg-end justify-content-space-between justify-content-lg-center">
        <div class="col-8 col-lg-4 text-info pt-5 pb-2 justify-self order-1 order-lg-1">
            <h1>Help The Poor For Their Better Future</h1>
        </div>
        <div class="col-10 col-lg-4 text-light order-3 order-lg-2">The value of life is not in its duration, but in its
            donation. You
            are
            not
            important because of how long you live, you are important because of how effective you live
        </div>
        <div class="col-8 col-lg-4 order-lg-2  order-2 order-lg-3 pt-3">
            <form>
                <script src="https://checkout.razorpay.com/v1/payment-button.js"
                    data-payment_button_id="pl_HUrjE1Ygz99Knt" async> </script>
            </form>
        </div>
    </div>